<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    @page {
      size: A4;
    }
  </style>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
</head>

<body>
  <div class="" id="invoice">

    <div class="grid grid-cols-2 items-center">
      <div>
        <!--  Company logo  -->
        <img src="{{ workspace.logo }}" alt="company-logo" height="100" width="100">
      </div>

      <div class="text-right">
        <p>
          {{ workspace.name }}
        </p>
        <p class="text-gray-500 text-sm">
          {{ workspace.email }}
        </p>
        <p class="text-gray-500 text-sm mt-1">
          {{ workspace.phone }}
        </p>
        <p class="text-gray-500 text-sm mt-1">
          RNC: {{ workspace.config.taxpayerId }}
        </p>
      </div>
    </div>

    <!-- Client info -->
    <div class="grid grid-cols-2 items-center mt-8">
      <div>
        <p class="text-gray-800">
          <span class="font-bold ">Facturar a :</span> {{ customer.name }}
        </p>
        <p class="text-gray-500">
          {{ customer.address }}
        </p>
        <p class="text-gray-500">
          {{ customer.email }}
        </p>
      </div>

      <div class="text-right">
        <p class="">
          Número de factura:
          <span class="text-gray-500">{{ invoice.sequenceId }}</span>
        </p>
        <p>
          Fecha de la factura: <span class="text-gray-500">{{ updatedAt }}</span>
          <br />
          Fecha de impresión:<span class="text-gray-500">{{ printDateTime }}</span>
        </p>
      </div>
    </div>

    <!-- Invoice Items -->
    <div class="-mx-4 mt-8 flow-root sm:mx-0">
      <table class="min-w-full">
        <colgroup>
          <col class="w-full sm:w-1/2">
          <col class="sm:w-1/6">
          <col class="sm:w-1/6">
          <col class="sm:w-1/6">
        </colgroup>
        <thead class="border-b border-gray-300 text-gray-900">
          <tr>
            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">Articulo</th>
            <th scope="col" class="hidden px-3 py-3.5 text-right text-sm font-semibold text-gray-900 sm:table-cell">
              Cantidad</th>
            <th scope="col" class="hidden px-3 py-3.5 text-right text-sm font-semibold text-gray-900 sm:table-cell">
              Precio
            </th>
            <th scope="col" class="py-3.5 pl-3 pr-4 text-right text-sm font-semibold text-gray-900 sm:pr-0">Monto</th>
          </tr>
        </thead>
        <tbody>
          {{#each items}}
          <tr class="border-b border-gray-200">
            <td class="max-w-0 py-5 pl-4 pr-3 text-sm sm:pl-0">
              <div class="font-medium text-gray-900">{{ product.name }}</div>
              {{!-- <div class="mt-1 truncate text-gray-500">Laravel based e-commerce platform.</div> --}}
            </td>
            <td class="hidden px-3 py-5 text-right text-sm text-gray-500 sm:table-cell">{{ quantity }}</td>
            <td class="hidden px-3 py-5 text-right text-sm text-gray-500 sm:table-cell">{{ price }}</td>
            <td class="py-5 pl-3 pr-4 text-right text-sm text-gray-500 sm:pr-0">{{ quantity }} x {{ price}}</td>
          </tr>
          {{/each}}
        </tbody>
        <tfoot>
          <tr>
            <th scope="row" colspan="3"
              class="hidden pl-4 pr-3 pt-6 text-right text-sm font-normal text-gray-500 sm:table-cell sm:pl-0">Subtotal
            </th>
            <th scope="row" class="pl-6 pr-3 pt-6 text-left text-sm font-normal text-gray-500 sm:hidden">Subtotal</th>
            <td class="pl-3 pr-6 pt-6 text-right text-sm text-gray-500 sm:pr-0">{{ subTotal }}</td>
          </tr>
          <tr>
            <th scope="row" colspan="3"
              class="hidden pl-4 pr-3 pt-4 text-right text-sm font-normal text-gray-500 sm:table-cell sm:pl-0">Impuesto
            </th>
            <th scope="row" class="pl-6 pr-3 pt-4 text-left text-sm font-normal text-gray-500 sm:hidden">Impuesto</th>
            <td class="pl-3 pr-6 pt-4 text-right text-sm text-gray-500 sm:pr-0">{{ taxes }}</td>
          </tr>
          <tr>
            <th scope="row" colspan="3"
              class="hidden pl-4 pr-3 pt-4 text-right text-sm font-normal text-gray-500 sm:table-cell sm:pl-0">Descuento
            </th>
            <th scope="row" class="pl-6 pr-3 pt-4 text-left text-sm font-normal text-gray-500 sm:hidden">Descuento</th>
            <td class="pl-3 pr-6 pt-4 text-right text-sm text-gray-500 sm:pr-0">{{ discount }}</td>
          </tr>
          <tr>
            <th scope="row" colspan="3"
              class="hidden pl-4 pr-3 pt-4 text-right text-sm font-semibold text-gray-900 sm:table-cell sm:pl-0">Total
            </th>
            <th scope="row" class="pl-6 pr-3 pt-4 text-left text-sm font-semibold text-gray-900 sm:hidden">Total</th>
            <td class="pl-3 pr-4 pt-4 text-right text-sm font-semibold text-gray-900 sm:pr-0">{{ total }}</td>
          </tr>
        </tfoot>
      </table>
    </div>

    <!--  Footer  -->
    <div class="border-t-2 pt-4 text-xs text-gray-500 text-center mt-16">
      <p>
        Gracias por hacer negocios con nosotros.
      </p>
      <p>
        <span class="font-bold">{{ workspace.name }}</span> - {{ workspace.email }}
      </p>
    </div>

  </div>

</body>

</html>
